DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=

# Postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# CORS
CORS_ORIGINS=

# JWT
ACCESS_LIFETIME_MIN=
REFRESH_LIFETIME_DAYS=

# Redis/Celery
REDIS_URL=

# Telegram
TELEGRAM_BOT_TOKEN=